#logo-epicode {
    height: 60px;
    margin-top: 0.8em;
    display: block;
}
table {
    min-width: 300px;
}
#tr {
    text-align: left;
}
caption {
    font-size: 1.0em;
}
figcaption {
        padding: 10px 0;
}